In [1]:
from amenities import collect_locations_zip
import pandas as pd

CITIES = ["Chicago", "Denver", "Des Moines"]

/Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
bike_df = collect_locations_zip(CITIES, 'bicycle_rental')
bike_df.head()

  0%|          | 0/3 [00:00<?, ?it/s]

  0%|          | 0/1752 [00:00<?, ?it/s]

      City        Lat        Lon Zipcode
0  Chicago  41.892570 -87.614492   60611
1  Chicago  41.877761 -87.654822   60607
2  Chicago  41.899624 -87.668393   60622
3  Chicago  41.879248 -87.640007   60606
4  Chicago  41.878391 -87.641006   60606

In [3]:
bike_df.to_csv('./data/bike_rental.csv')

In [4]:
schools_df = collect_locations_zip(CITIES, 'school')
schools_df.head()

  0%|          | 0/3 [00:00<?, ?it/s]

  0%|          | 0/1094 [00:00<?, ?it/s]

      City        Lat        Lon Zipcode
0  Chicago  41.697812 -87.621992   60628
1  Chicago  41.864477 -87.667553   60608
2  Chicago  41.911699 -87.671166   60622
3  Chicago  41.834052 -87.650071   60608
4  Chicago  41.785033 -87.665329   60636

In [13]:
parking_df = collect_amenities_zip(CITIES, 'parking')
parking_df.head()

  0%|          | 0/3 [00:00<?, ?it/s]

  0%|          | 0/312 [00:00<?, ?it/s]

      City        Lat        Lon Zipcode
0  Chicago  41.951227 -87.643847   60657
1  Chicago  41.914795 -87.654541   60614
2  Chicago  43.588941 -79.648925   14174
3  Chicago  41.963227 -87.657000   60640
4  Chicago  41.869438 -87.624677   60605

In [19]:
parking_df.to_csv('./data/parking.csv')

In [3]:
shop_df = collect_locations_zip(CITIES, '.*', 'shop')
shop_df.head()

  0%|          | 0/3 [00:00<?, ?it/s]

  0%|          | 0/9902 [00:00<?, ?it/s]

      City        Lat        Lon Zipcode
0  Chicago  41.998865 -87.763404   60646
1  Chicago  41.976323 -87.837301   60656
2  Chicago  41.926039 -87.653300   60614
3  Chicago  41.883411 -87.625907   60602
4  Chicago  41.877927 -87.627335   60604

In [5]:
shop_df.to_csv('./data/shop.csv')

In [6]:
shop_df.groupby('City').count()

             Lat   Lon  Zipcode
City
Chicago     5462  5462     5462
Denver      3928  3928     3928
Des Moines   512   512      512

In [7]:
public_transport_df = collect_locations_zip(CITIES, '.*', 'public_transport')
public_transport_df.head()

  0%|          | 0/3 [00:00<?, ?it/s]

  0%|          | 0/36790 [00:00<?, ?it/s]

      City        Lat        Lon Zipcode
0  Chicago  41.889146 -87.622517   60611
1  Chicago  41.887824 -87.631768   60654
2  Chicago  41.879164 -87.637781   60606
3  Chicago  41.867404 -87.626584   60605
4  Chicago  41.804295 -87.704362   60632

In [9]:
public_transport_df.groupby('City').count()

              Lat    Lon  Zipcode
City
Chicago     32108  32108    32108
Denver       3848   3848     3848
Des Moines    834    834      834

In [10]:
public_transport_df.to_csv('./data/public_transport.csv')