In [1]:
!pip install uszipcode

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: uszipcode in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (1.0.1)
Requirement already satisfied: attrs in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from uszipcode) (21.4.0)
Requirement already satisfied: fuzzywuzzy in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from uszipcode) (0.18.0)
Requirement already satisfied: requests in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from uszipcode) (2.28.1)
Requirement already satisfied: sqlalchemy-mate>=1.4.28.3 in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from uszipcode) (1.4.28.3)
Requirement already satisfied: atomicwrites in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from uszipcode) (1.4.1)
Requirement already satisfied: haversine>=2.5.0 in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from uszipcode) (2.6.0)
Requirement already satisfied: pathlib-mate in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from uszipcode) (1.0.3)
Requirement already satisfied: SQLAlchemy>=1.4.0 in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from uszipcode) (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /Users/jettchen/.local/lib/python3.8/site-packages (from SQLAlchemy>=1.4.0->uszipcode) (1.1.2)
Requirement already satisfied: prettytable in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from sqlalchemy-mate>=1.4.28.3->uszipcode) (3.3.0)
Requirement already satisfied: autopep8 in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from pathlib-mate->uszipcode) (1.6.0)
Requirement already satisfied: six in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from pathlib-mate->uszipcode) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from requests->uszipcode) (1.26.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from requests->uszipcode) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from requests->uszipcode) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from requests->uszipcode) (3.3)
Requirement already satisfied: toml in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from autopep8->pathlib-mate->uszipcode) (0.10.2)
Requirement already satisfied: pycodestyle>=2.8.0 in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from autopep8->pathlib-mate->uszipcode) (2.8.0)
Requirement already satisfied: wcwidth in /Users/jettchen/anaconda3/envs/himcm/lib/python3.8/site-packages (from prettytable->sqlalchemy-mate>=1.4.28.3->uszipcode) (0.2.5)

In [2]:
from uszipcode import SearchEngine

search = SearchEngine()

In [11]:
result = search.by_zipcode("1001")
result.population_density

1466.0

In [5]:
import pandas as pd

df = pd.read_csv('./data/bike_rental.csv')

In [6]:
df.head()

   Unnamed: 0     City        Lat        Lon  Zipcode
0           0  Chicago  41.892570 -87.614492    60611
1           1  Chicago  41.877761 -87.654822    60607
2           2  Chicago  41.899624 -87.668393    60622
3           3  Chicago  41.879248 -87.640007    60606
4           4  Chicago  41.878391 -87.641006    60606

In [9]:
df.groupby('Zipcode').count().describe()

       Unnamed: 0       City        Lat        Lon
count   73.000000  73.000000  73.000000  73.000000
mean    24.000000  24.000000  24.000000  24.000000
std     18.260461  18.260461  18.260461  18.260461
min      2.000000   2.000000   2.000000   2.000000
25%      8.000000   8.000000   8.000000   8.000000
50%     20.000000  20.000000  20.000000  20.000000
75%     36.000000  36.000000  36.000000  36.000000
max     68.000000  68.000000  68.000000  68.000000